body {
  background-color: #343541;
  color: #ececf1;
  font-family: 'IBM Plex Serif', serif;
  font-weight:500;
  line-height: 1.5;
}

/* Basic Typography Settings */
html {
  font-size: 16px;
}

h1.logo,
h2.headline,
h3.body-text-header,
h4,
h5,
h6,
button,
nav {
  font-family: 'IBM Plex Mono', monospace;
}

/* Typography Scales */
h1#story-title {
  font-size: calc(1rem * 1.25 * 1.25 * 1.25 * 1.25);
  font-weight: 700;
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
}

h2.headline,
.dropdown-header {
  font-size: calc(1rem * 1.25 * 1.25 * 1.25);
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 700;
}

h3.body-text-header {
  font-size: calc(1rem * 1.25 * 1.25);
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 700;
}

h4,
h5,
h6,
button,
nav {
  font-size: calc(1rem * 1.25);
  font-weight: 700;
}

/* Other Elements */
ol,
ul {
  font-size: 1rem;
}

ol {
  font-family: 'IBM Plex Mono', monospace;
  font-weight:500;
  counter-reset: item;
  padding-left: 1.33rem;;
}
ol li {
  font-family: 'IBM Plex Serif', serif;
}
ol li::marker {
  font-family: 'IBM Plex Mono', monospace;
  font-weight:700;
  content: counter(item) " ";
}


a,
.anchor-nav {
  font-size: 1rem;
  text-decoration: none;
}

label {
  font-size: 1rem;
}

p {
  font-family: 'IBM Plex Serif', sans-serif;
  font-weight:500;
}

p b {
  font-weight:700;
}

p i {
  font-style:italic;
}

textarea,
.custom-textarea {
  font-family: 'IBM Plex Serif', serif;
  font-size: 1rem;
  resize: vertical;
}

#passages {
  max-width: 60rem;
}

h2 {
  margin-top: 0;
}

h5 {
  margin-bottom: 0;
  line-height: 1;
  padding-bottom: 0;
  font-style:italic;
}

h5 + br {
  display: none;
  /* hacky shit */
}

#menu li a {
  font-family: 'IBM Plex Mono', monospace;
}

code {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
}

#ui-bar-body {
  background-color: #2b2b31;
}

.pure-button,
#restart-ok,
#restart-cancel {
  background-color: #f9e5a2;
  color: #2b2b31;
  transition: background-color 100ms;
}

.pure-button:hover,
#restart-ok:hover,
#restart-cancel:hover {
  background-color: #ececf1;
}

.pure-button:focus,
#restart-ok:focus,
#restart-cancel:focus {
  outline: none;
  box-shadow: 0 0 0 2px #f9e5a2;
}

@media screen and (max-width: 767px) {
  .pure-button {
    font-size: .75rem !important;
    max-width: 96%;
  }
}

#ui-dialog-titlebar {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 500;
  font-style: italic;
}

.restart p {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
}

  
.anchor-nav {
  color: #ececf1;
  font-size: 120%;
  position: relative;
  display: inline-block;
  transition: color 100ms ease-in-out;
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 700;
  text-decoration: none;
  line-height:2;
}

  
.anchor-nav .fa-arrow-right {
  margin-left: 4px; /* Adjust the space between the link text and the arrow icon */
}

.anchor-nav::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ececf1;
  visibility: hidden;
  transition: all 100ms ease-in-out;
}
  
.anchor-nav:hover {
  text-decoration: none;
}

.anchor-nav:hover::before {
  visibility: visible;
  width: 100%;
}


.pure-button:disabled {
  background-color: #b7b7b7;
  color: #2b2b31;
  cursor: not-allowed;
}


#passages > div {
  padding: 1.5rem;
  border-radius: 5px;
  background-color: #40414f;
}

.pure-form {
  margin-left:1.33rem;
}

.pure-form label {
  display: block;
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;
  position: relative;
}  
  
  .pure-form input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border: 2px solid #2b2b31;
    border-radius: 50%;
    background-color: #f9f9f9;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .pure-form input[type="radio"]:checked {
    background-color: #f9e5a2;
    border-color: #black;
  }
  
  .pure-form input[type="radio"]:focus {
    outline: none;
    border-color: #f9e5a2;
  }
  
  .pure-button {
    margin-top: 1rem;
    display: inline-block;
    font-family: 'IBM Plex Mono', monospace;
    font-weight:700;
  }

  .textarea-Wrapper {
    max-width:96%;
    margin: 0 auto;
  }

  .custom-textarea {
    width: 100%;
    height: 200px;
    background-color: #343541;
    border: 1px solid #2b2b31;
    border-radius: 5px;
    padding: 0.5rem;
    box-sizing: border-box;
    resize: vertical;
    font-family: 'IBM Plex Mono', monospace;
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    }
  
  .custom-textarea:focus {
    outline: none;
    border-color: #f9e5a2;
    box-shadow: none;
  }

  .passage input[type="text"],
  textarea {
    width: 100%;
    min-width: 50px;
    max-width:100%;
}
  
/* copy text clipboard */

.copyButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: .9em;
  font-family: 'IBM Plex Mono', monospace;
  display: inline-block;
}

.copyButton > svg {
  width: 1em;
  height: 1em;
  margin-right: 0.25em;
  vertical-align: middle;
}

.copyButton.copied > svg.feather-clipboard {
  display: none;
}

.copyButton.copied::before {
  content: "\2714";
  display: inline-block;
  margin-right: 0.25em;
  vertical-align: middle;
}

.copiedMessage {
  display: none;
  font-size: 0.8em;
  margin-left: 1em;
}

.copiedMessage.show {
  display: inline;
}

/* blockquopte */

blockquote {
  font-size: 1.2em;
  width:calc(100%;-4rem);
  margin:1.5rem 0;
  font-family:Open Sans;
  font-style:italic;
  color: #2b2b31;
  padding:1.2rem 2rem 1.2rem 2rem;
  border-left:8px solid #2b2b31 ;
  line-height:1.6;
  position: relative;
  background:#EDEDED;
  border-radius: 5px;
}

blockquote p {
  margin: 0;
}


blockquote span {
  display:block;
  color:#2b2b31;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}


/* prompt textarea*/



.prompt-text-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #343541;
  border-radius: 5px 5px 0 0;
  font-size: .8rem;
  padding: 0 1.5rem;
}

.prompt-text-content pre {
  background: #000000;
  color: white;
  padding:1.5rem;
}

.copyButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.copyButton > svg {
  width: 1em;
  height: 1em;
  margin: 0 0 .1rem 0;
  vertical-align: middle;
}

.monospaced-text {
  font-family: 'IBM Plex Serif', monospace;
  font-weight:700;
  white-space: pre-wrap;
  margin: 0;
  padding: 0.5em;
  background-color: #f9f9f9;
  border-radius: 0 0 5px 5px;
}

/* tip box */

.tip-box {
  display: flex;
  align-items: flex-start;
  background-color: #EDEDED;
  border-left: 3px solid #2b2b31;
  border-radius: 5px;
  padding: 1.5rem;
  margin: 1.5rem 0;
  color: #2b2b31;
  font-size:1rem;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 500;
}

.tip-box a {
  color: #1a6ed8;
}

.tip-icon {
  font-size: 24px;
  margin-right: 16px;
  color: #2b2b31;
}

.tip-title {
  margin: 0;
  font-family: 'IBM Plex Mono', monospace;
}


/* link arrows */

a.link-external {
  color: #8af;
}

.passage-link:hover {
  color: #0056b3; 
  text-decoration: underline;
}

.passage-link .fa-arrow-right {
  margin-left: 6px;
}

/* Dropdon reveal */

.dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #343541;
  border-radius: 5px 5px 0 0;
  font-size: .8rem;
  padding: 0 1.5rem;
  cursor: pointer;
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 700;
  position: relative;
  z-index: 1;
}

.arrow {
  font-size:1.2rem;
  transition: transform 0.3s ease-in-out; 
}

.arrow-up {
  transform: rotate(180deg);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdown-text-content {
  background: #000000;
  color: white;
  padding: 1.5rem;
  border-radius: 0 0 5px 5px;
  animation: fadeIn 0.3s ease-in-out; 
}

#menu-item-saves {
  display:none;
}