body {
    font-family: 'IBM Plex Serif', serif;
    background-color: #343541;
    color: #ececf1;
  }
  
  #passages {
    max-width:100%;
  }

  h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-style: italic;
  }
  
  h2, h3, h4, h5, h6 {
    font-family: 'IBM Plex Sans Condensed', sans-serif;
    font-weight: 700;
  }
  
  ul, ol {
    font-family: 'IBM Plex Serif', serif;
  }
  
  ol {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
  }

  #menu li a {
    font-family: 'IBM Plex Mono', monospace;
  }
  
  code, {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
  }
  
  #ui-bar-body {
    background-color: #2b2b31;
  }
  
  .pure-button,
  #restart-ok,
  #restart-cancel {
    background-color: #f9e5a2;
    color: #2b2b31;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
  }
  
  .pure-button:hover,
  #restart-ok:hover,
  #restart-cancel:hover {
    background-color: #ececf1;
  }

  @media screen and (max-width: 767px) {
    .pure-button {
      font-size: .75rem !important; 
      max-width:96%;
    }
  }

  #ui-dialog-titlebar {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 500;
    font-style: italic;
  }

  .restart p {
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
  }
  
  .anchor-nav {
    color: #ececf1;
    font-size: 120%;
    position: relative;
    display: inline-block;
    transition: color 100ms ease-in-out;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 700;
  }
  
  .anchor-nav::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ececf1;
    visibility: hidden;
    transition: all 100ms ease-in-out;
  }
  
  .anchor-nav:hover {
    text-decoration: none;
  }
  
  .anchor-nav:hover::before {
    visibility: visible;
    width: 100%;
  }
  

  .pure-button:disabled {
    background-color: #d3d3d3;
    color: #999;
    cursor: not-allowed;
  }
  
  
  #passages > div {
    padding: 1.5rem;
    border-radius: 5px;
    background-color: #40414f;
  }

  .pure-form label {
    display: block;
    margin: 0 !important;
  }
  
  .pure-form input[type="radio"] {
    -webkit-appearance: radio;
    appearance: radio;
    margin-right: 0.5rem;
    line-height: 1;
    -ms-transform: scale(1); 
    -webkit-transform: scale(1); 
    transform: scale(1); 
  }



  
  .pure-button {
    margin-top: 1rem;
  }

  .textarea-Wrapper {
    max-width:96%;
    margin: 0 auto;
  }

  .custom-textarea {
    width: 100%;
    height: 200px;
    background-color: #343541;
    border: 1px solid #2b2b31;
    border-radius: 5px;
    padding: 0.5rem;
    box-sizing: border-box;
    resize: vertical;
    font-family: 'IBM Plex Mono', monospace;
    margin-left: auto;
    margin-right: auto;
    display: block;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    }
  
  .custom-textarea:focus {
    outline: none;
    border-color: #f9e5a2;
    box-shadow: none;
  }

  .passage input[type="text"],
  textarea {
    width: 100%;
    min-width: 50px;
    max-width:100%;
}
  
  